body {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Spartan';
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 1111px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

/* top black-background line */

.black-background {
    background-color: black;
    color: #ffffff;
}

.black-background .container {
    padding: 3px 0;
    font-size: 9px;
}

.contact span {
    margin: 0 40px 0 10px;
}

.social-networks img {
    margin-left: 11px;
}

.social-networks img:hover {
    cursor: pointer;
}

/* header */

header .container {
    align-items: center;
    padding: 18px 0;
}

.logo a h1 {
    font-size: 36px;
}

.navigation nav ul {
    font-size: 1em;
    gap: 35px;
}

.actions img {
    margin-left: 30px;
}

/* main  */

.wrapper .container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.accessories {
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner img, .accessories img {
    width: 540px;
}

.women img, .men img {
    width: 255px;
}

.offer {
    padding: 30px 0;
}

.container.flex-between.offers div span h2 {
    font-size: 11px;
}

.container.flex-between.offers div span p {
    font-size: 11px;
    margin-top: 5px;
}

.container.flex-between.offers div {
    justify-content: left;
    width: 325px;
    gap: 20px;
    align-items: center;
}

.container.flex-between.offers div img {
    width: 30px;
}

.container.flex-between.offers {
    justify-content: left;
    gap: 50px;
}

/* choose clothing */

.choose-clothing {
    margin-top: 50px;
}

.choose-clothing .container.flex-between {
    align-items: baseline;
}

.choose-clothing h1 {
    font-size: 22px;
}

.choose-clothing ul {
    gap: 50px;
    font-size: 12px;
}

.clothes {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.clothes div {
    position: relative;
}

.clothes div img {
    width: 255px;
}

.clothes div .stars img {
    width: 65px;
}

.clothes div p {
    margin: 12px 0;
    font-size: 14px;
}

.stars {
    position: absolute;
    right: 0;
    bottom: 0;
}
.container.seeall {
    margin-top: 50px;
}

.seeall {
    text-align: center;
    padding: 12px 0;
    background-color: #F8F8F8;
    border: none;
    font-family: 'Spartan';
    cursor: pointer;
}

/* sales-section */

.sale-section {
    margin-top: 95px;
}

/* classic */

.classic {
    background-color: #DCDBDB;
    margin-top: 100px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subscribe {
    width: 530px;
    height: 460px;
    background-color: #ffffff;
}

.abs img {
    position: absolute;
}

.women {
    width: 310px;
    top: 36px;
    left: 113px;
}

.men {
    width: 220px;
    top: 50px;
    right: 167px;
}